#!/bin/ksh

daemon_user=_lightp
daemon_execdir=/var/lightp
daemon_flags="-d /dev/video0 -l 80"
daemon=/var/lightp/lightp

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_stop() {
  ps auxw | awk '$1 == "_lightp" { print $2 }' | xargs kill -9
}

rc_cmd $1
